{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item"><a href="/audits/">Audits</a></li>
  <li class="breadcrumb-item active">{% if entity.id %}Edit{% else %}Create{% endif %}</li>
</ol>
{% endblock %}


{% block content %}

<div class="card">
    <div class="card-header">
        {% if entity.id %}
            <h4 class="card-title my-1">Update Audit</h4>
        {% else %}
            <h4 class="card-title my-1">Create New Audit</h4>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% if entity.id %}{% url 'audits:update' entity.id %}{% else %}{% url 'audits:create' %}{% endif %}">
            <div class="row">
                <div class="col-md-7">
                    {% csrf_token %}
                    {{form|crispy}}

                    {% if entity.id %}
                        <button type="submit" class="btn btn-success btn-sm">Update</button>
                    {% else %}
                        <button type="submit" class="btn btn-success btn-sm">Create</button>
                    {% endif %}

                    <a href="{% url 'audits:list' %}" class="btn btn-light btn-sm ml-1">Cancel</a>
                </div>
                <div class="col-md-4">
                    <h5 class="text-primary mb-2 mt-0">Attachments</h5>
                    <input type="hidden" id="meta_old_files" name="meta_old_files" value="{{meta_old_files}}">
                    <input type="hidden" id="meta_old_desc" name="meta_old_desc" value="{{meta_old_desc}}">
                    <input type="hidden" id="meta_new_desc" name="meta_new_desc">
                    <div class="attachments-wrapper">
                        {% for attachment in entity.attachments.all %}
                            <div class="card attachment-card border-light border mb-2">
                                <div class="card-body">
                                    <button type="button" class="close close-card old" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="form-group float-left">
                                        <a href="{{attachment.file.url}}" class="text-primary">Currently: {{attachment.name}}</a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label for="simpleinput">Description</label>
                                        <input type="text" name="attachment-desc" class="form-control attachment-desc old" value="{{attachment.description|default:''}}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="btn btn-outline-success btn-sm" id="add-attachment-card"><i class="mdi mdi-plus"></i> Add</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/attachment.js'%}"></script>
{% endblock %}
