{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item"><a href="/audits/">Audits</a></li>
  <li class="breadcrumb-item active">{% if entity.id %}Edit{% else %}Create{% endif %}</li>
</ol>
{% endblock %}


{% block content %}

<div class="card">
    <div class="card-header">
        {% if entity.id %}
            <h4 class="card-title my-1">Update Audit</h4>
        {% else %}
            <h4 class="card-title my-1">Create New Audit</h4>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}

                    {% if entity.id %}
                        <button type="submit" class="btn btn-success btn-sm">Update</button>
                    {% else %}
                        <button type="submit" class="btn btn-success btn-sm">Create</button>
                    {% endif %}

                    <a href="{% url 'audits:list' %}" class="btn btn-light btn-sm ml-1">Cancel</a>
                </form>
            </div>
            <div class="col-md-4">
                <h5 class="text-primary mb-2 mt-0">Attachments</h5>
                <div class="attachments-wrapper">
                    {% for attachment in entity.attachments.all %}
                        <div class="card attachment-card border-light border mb-2">
                            <div class="card-body">
                                <button type="button" class="close close-card" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="form-group float-left">
                                    <input type="file" id="example-fileinput" class="form-control-file">
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="simpleinput">Description</label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-outline-success btn-sm" id="add-attachment-card"><i class="mdi mdi-plus"></i> Add</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="/static/js/attachment.js"></script>
{% endblock %}
