{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item"><a href="/audits/">Audits</a></li>
  <li class="breadcrumb-item"><a href="/audits/answer">Template Answers</a></li>
  <li class="breadcrumb-item active">Show</li>
</ol>
{% endblock %}


{% block content %}

<div class="card">
    <div class="card-header">
      <h4 class="card-title my-1">Infraction Details ({{entity}})</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3 col-lg-2 mb-2">Category</dt>
        <dd class="col-sm-9">{{ entity.category|default:"-" }}</dd>
        <dt class="col-sm-3 col-lg-2 mb-2">Name</dt>
        <dd class="col-sm-9">{{ entity.name }}</dd>
        <dt class="col-sm-3 col-lg-2 mb-2">Enabled</dt>
        <dd class="col-sm-9">{{ entity.enabled|yesno|title }}</dd>
      </dl>
      <a href="{% url 'audits:answer-list' %}" class="btn btn-secondary btn-sm">Back</a>
    </div>
</div>

{% endblock %}
