{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item"><a href="/audits/">Audits</a></li>
  <li class="breadcrumb-item"><a href="/audits/question">Template Questions</a></li>
  <li class="breadcrumb-item active">Delete</li>
</ol>
{% endblock %}


{% block content %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title my-1">Delete Infraction ({{object}})</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Are you sure you want to delete <strong>{{ object }}</strong> ?
            </div>
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            <a href="{% url 'audits:question-list' %}" class="btn btn-light btn-sm ml-1">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}
