{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item"><a href="/infractions/">Infractions</a></li>
  <li class="breadcrumb-item"><a href="/infractions/type">Types</a></li>
  <li class="breadcrumb-item active">All</li>
</ol>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-lg-8">
                        <form class="form-inline" method="GET">
                            <div class="form-group mb-2">
                                <label for="inputPassword2" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search...">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="status-select" class="mr-2">Enabled</label>
                                <select class="custom-select" id="status-select" name="enabled">
                                    <option value="">Choose...</option>
                                    <option value="true" {% if request.GET.status == "true" %}selected{% endif %}>Yes</option>
                                    <option value="false" {% if request.GET.status == "false" %}selected{% endif %}>No</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-light mb-2">Search</button>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-lg-right">
                            <a type="button" href="{% url 'infractions:type-create' %}" class="btn btn-primary mb-2 mr-2"><i class="mdi mdi-plus-circle mr-1"></i> Add New</a>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="id-check-all">
                                        <label class="custom-control-label" for="id-check-all">&nbsp;</label>
                                    </div>
                                </th>
                                <!-- <th scope="col">ID</th> -->
                                <th scope="col">Name</th>
                                <th scope="col">Points</th>
                                <th scope="col">WFH Days Forfeit</th>
                                <th scope="col">Rolling Months</th>
                                <th scope="col">Enabled</th>
                                <th style="width: 125px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities  %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input row-checkbox" id="{{entity.id}}">
                                        <label class="custom-control-label" for="{{entity.id}}">&nbsp;</label>
                                    </div>
                                </td>
                                <!-- <td><a href="{% url 'infractions:detail' entity.id %}" class="text-body font-weight-bold">{{entity.id}}</a> </td> -->
                                <td>{{entity.name}}</td>
                                <td>{{entity.points}}</td>
                                <td>{{entity.wfh_days_forfeit}}</td>
                                <td>{{entity.rolling_months}}</td>
                                <td><span class="badge {% if entity.enabled %}badge-success-lighten{% else %}badge-danger-lighten{% endif %}">{{entity.enabled|yesno}}</span></td>
                                <td>
                                    <a href="{% url 'infractions:type-detail' entity.id %}" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="{% url 'infractions:type-update' entity.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                    <a href="{% url 'infractions:type-delete' entity.id %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    {% include "_pagination.html" %}
                {% endif %}
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

{% endblock %}